SSL Labs Report

Total number of domains scanned: {{domain_total}}
Number of domains successfully scanned: {{domain_success}}
Total number of domain scans failed: {{domain_failed}}

Results:
{% for key in domain_results.keys() %}
{{key}} - {{domain_results[key]}}
{% endfor %}

Failed domains:
{% for d in domain_list_failed %}
* {{d}}
{% endfor %}