SSL Labs Report

Total number of domains scanned: {{domains_data.total}}
Number of domains successfully scanned: {{domains_data.complete}}
Total number of domain scans failed: {{domains_data.failed}}

Results:
{% for domain in domains_data.complete_list %}
{{domain}} - {{domains_data.domains[domain].grade}} - Supported Protocols: {{domains_data.domains[domain].protocols}} - Details: {{domains_data.domains[domain].lookup}} 
{% endfor %}

{% if domains_data.failed_list|length > 0 %}
Failed domains:
{% for domain in domains_data.failed_list %}
* {{domain}} - Fail message: <{{domains_data.domains[domain].fail_message}}> - {{domains_data.domains[domain].lookup}}
{% endfor %}
{% endif %}
